<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            Mecanicos Everywhere
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'aplicacion/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Mecanicos Everywhere</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#inicio">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Acerca de nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contactanos">Contactanos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#features">Servicios</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Administracion</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->   
        <header class="bg-dark py-5" id="inicio">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        {% block titulo %}
                        <div class="text-center my-5">
                            
                                <h1 class="display-5 fw-bolder text-white mb-2">
                                    El lugar donde los profesionales están
                                </h1>
                            
                            <p class="lead text-white-50 mb-4">Tu vehículo en manos expertas, nuestro compromiso contigo!
                            </p>                            
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Nuestros servicios</a>
                                <a class="btn btn-outline-light btn-lg px-4" href="#precios">Subscripciones</a>
                            </div>
                        </div>
                        {% endblock titulo %}
                    </div>
                </div>
            </div>
       </header>
        {% block contenido %}

        {% endblock contenido %}
            
        
        {% block informacion %}      
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Refacciones para tu vehiculo</h2>
                        <p>Encuentra las mejores refacciones para tu vehículo en nuestro catálogo. Calidad garantizada y asesoría experta para mantener tu automóvil en óptimas condiciones. Simplifica tu búsqueda y confía en nosotros para el cuidado de tu vehículo</p>
                        <a class="text-decoration-none" href="{% url 'PiezasCarro' %}">
                            Buscar refacciones
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Nuestros servicios</h2>
                        <p>Descubre nuestros servicios especializados para el cuidado de tu vehículo. Confía en nuestro equipo de expertos en mecánica para un mantenimiento óptimo. Calidad, experiencia y atención personalizada, todo en un solo lugar.</p>
                        <a class="text-decoration-none" href="{% url 'tipoCarro' %}">
                            Conoce nuestros servicios
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Nuestros profesionales</h2>
                        <p>Nuestros mecánicos expertos son la clave para mantener tu vehículo en perfecto estado. Con habilidades y conocimientos excepcionales, garantizamos soluciones confiables y eficientes para cada reparación. Confía en nuestro equipo para llevar tu automóvil al máximo rendimiento</p>
                        <a class="text-decoration-none" href="{% url 'profesionales' %}">
                            Conoce nuestros profesionales
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing section-->
        <section class="bg-light py-5 border-bottom" id="precios">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Planes de subscripcion</h2>
                    <p class="lead mb-0">Planes para todo tipo de necesidad</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <!-- Pricing card free-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted">Basico</div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$10</span>
                                    <span class="text-muted">/ mes</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>1 vez / semestre</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Manteniento programado
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Cambio de aceite y filtro
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Inspeccion de frenos
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Alinecion y valanceo de ruedas
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Diagnostico electrico
                                    </li>
                                    <li class="mb-2 text-muted">
                                        <i class="bi bi-x"></i>
                                        Limpieza y mantenimiento del sistema de aire acondicionado
                                    </li>
                                    <li class="text-muted">
                                        <i class="bi bi-x"></i>
                                        Revision del sistema de suspension
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" href="{% url 'planes' %}">Seleccionar plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card pro-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold">
                                    <i class="bi bi-star-fill text-warning"></i>
                                    Pro
                                </div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$30</span>
                                    <span class="text-muted">/ mes</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>3 veces / semestre</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Mantenimiento programado
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Cambio de aceite y filtro
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Inspeccion de frenos
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Alineacion y balanceo de ruedas
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Diagnostico electronico
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Limpieza y mantenimiento del sistema de aire acondicionado
                                    </li>
                                    <li class="text-muted">
                                        <i class="bi bi-x"></i>
                                        Revision del sistema de suspension
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" href="{% url 'planes' %}">Seleccionar plan</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- Pricing card enterprise-->
                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <div class="card-body p-5">
                                <div class="small text-uppercase fw-bold text-muted">Empresarial</div>
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">$50</span>
                                    <span class="text-muted">/ mes</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>5 veces / semestre</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Mantenimiento programado
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Cambio de aceite y filtro
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Inspección de frenos
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Alineación y balanceo de ruedas
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Diagnóstico electrónico
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>

                                        Limpieza y mantenimiento del sistema de aire acondicionado
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Revisión del sistema de suspensión y muchos servicios mas...
                                    </li>
                                </ul>
                                <div class="d-grid"><a class="btn btn-primary" href="{% url 'planes' %}">Seleccionar plan</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials section-->
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Testimonios de nuestros clientes</h2>
                    <p class="lead mb-0"></p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Quiero agradecer al equipo del taller mecánico por su excelente servicio. Llevé mi automóvil para una revisión y cambio de aceite, y quedé impresionado con su profesionalismo y atención personalizada. Me explicaron cada paso del proceso y me dieron consejos para mantener mi automóvil en buen estado. ¡Altamente recomendado!</p>
                                        <div class="small text-muted">- Pedro, Mexico</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">No puedo estar más contento con el taller mecánico. Llevé mi vehículo con un problema eléctrico y lo resolvieron rápidamente. Los mecánicos demostraron un conocimiento excepcional y me brindaron un trato amable y cordial. Ahora siento que mi automóvil está en las mejores manos. ¡Gracias por su excelente trabajo!</p>
                                        <div class="small text-muted">- Marlene, Ecuador</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5" id="contactanos"> 
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">Contactanos</h2>
                    <p class="lead mb-0">Nos encantaria resolver tus dudas</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nombre completo</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Correo electronico</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Numero de telefono</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Mensaje</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% endblock informacion %}
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'aplicacion/js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    </body>
</html>
